@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{box-sizing:border-box}
body{
    font-family:'Poppins', sans-serif;
    margin:0;
    background:#f4f4f2;
    color:#222;
}

.navbar{
    position:sticky;
    top:0;
    background:#f4f4f2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 120px;
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
    z-index:1000;
    backdrop-filter: blur(45px);

}

.brand{
    display:flex;
    align-items:center;
    gap:12px;
    
}
.brand-text{
    font-weight: 700;
    color: #3ebad0;
    font-size: 20px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:28px;
    margin:0;
    padding:0;
}

.nav-links a{
    color:#222;
    text-decoration:none;
    font-weight:500;
    transition:color .2s;
}
.nav-links a:hover, summary:hover{
    color:#3ebad0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

summary {
    color: #222;
    cursor: pointer;
    list-style: none;
    border-radius: 8px;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 6px 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    min-width: 180px;
    z-index: 1001;
}

.dropdown-menu a {
    display: block;
    padding: 8px 16px;
    color: #222;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.page-hero{
    background:linear-gradient(90deg,#3ebad0,#68d7e9);
    color:#fff;
    padding:48px 120px;
}
.page-hero h1{
    margin:0;
    font-size:32px;
}
.page-hero p{
    margin-top:8px;
}

.content{
    padding: 40px 50px;
}
.tools{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 40px;
}
.tools input{
    padding:10px 14px;
    border-radius:8px;
    border:1px solid #d7d7d7;
    width: 950px;
    height: 50px;
}

input:focus {
    outline: 2px solid #fbde71;
    border-color: #fbde71;
}

.tools select{
    padding:10px 14px;
    border-radius:8px;
    border:1px solid #d7d7d7;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.scholarship-card {
  position: relative;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 800px;
  height: auto;
}
.scholarship-card:hover{
    transform:translateY(-6px);
    box-shadow: 0 6px 20px rgba(0, 0, 100, 0.2);
}

.university-card {
  display: flex;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 950px;
  height: 150px;
  transition: transform 0.3s ease;
}

.university-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 80, 0.2);
}

.rank-box {
  background: linear-gradient(140deg, #f6df8b, #fdeaa3);
  color: #fff;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

.rank-box h1 {
  font-size: 50px;
  margin: 0;
}

.rank-box p {
  margin: 0;
  font-size: 18px;
  opacity: 0.9;
}

.univ-info {
  flex: 1;
  padding: 4px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.univ-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 0px;
}

.univ-logo {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  margin-top: 10px;
  object-fit: cover;
}

.univ-country {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.univ-name h2 {
  margin: 2px 0 0 0;
  font-size: 22px;
  color: #111;
}

.univ-name p {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 4px 0 0 0;
  color: #555;
  font-size: 14px;
}

.program-title {
  font-weight: 600;
  color: #3ebad0;
  font-size: 14px;
  margin: 4px 0 4px 0;
}

.program-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  gap: 8px;
}

.program-tags p {
  background: #f4f4f4;
  border: 1px solid #bcdff0;
  color: #333;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 13px;
  margin-top: 2px;
}

.site-footer{
    background-color: #3ebad0;
    color: #f4f4f2;
    text-align: center;
    padding: 8px 10px;
    font-size: 13px;
    margin-top: auto;
}
